:root {
    /* CSS HSL */
    --dark: hsl(0, 0, 0 );
    --pumpkin: hsl(0,0%, 24%);
    --ash-gray: hsl(0, 0%, 47%);
    --black: hsl(0, 0%, 71%);
    --dim-gray: hsl(0, 0%, 94%);
    --nav-text-size: 1.5em;
}

body {
    background-color: var(--dim-gray);
    /* font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-repeat:no-repeat; */
    font-family: "Open Sans", sans-serif;
    margin: 0px;
}

.main-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--pumpkin) ;
    padding-left: 30px;
    padding-right: 30px;
}
.img {
flex-direction: row;
}
#site-logo {
    max-width: 120px;
}
.main-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-navigation a {
    color: var(--dim-gray);
    text-decoration: none;
    font-size: var(--nav-text-size);
    padding: 1em;
}
.main-navigation a:hover {
  color: var(--night);
}
.user-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.user-nav a {
    color: var(--dim-gray);
    text-decoration: none;
    font-size: var(--nav-text-size);
    padding: 1em;
}
.user-nav a:hover {
    color: var(--night);
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

  #site-search {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    padding: 1em;
  }
  #site-search input {
    flex: 1;
    padding: 0.5em;
    border: 1px solid var(--dim-gray);
    border-radius: 5px 0px 0px 5px;
  }
  #site-search button {
    background-color: var(--pumpkin);
    padding: 0.5em;
    border: 1px solid var(--dim-gray);
    border-radius: 0px 5px 5px 0px;
    color: var(--dim-gray)
  }
  .nav-button {
    display: none;
  }
  .main-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end; 
  position: fixed; 
  bottom: 0px;  
  background-color: var(--pumpkin);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  width: 100%;
  height: 30px;
  color: var(--dim-gray)

 }
 .main-footer a {
  color: var(--dim-gray);
  margin-right: 10px;
  }
.main-footer a:hover {
  color: var(---dark);
}
.main-footer p {
  color: var(--dim-gray);
  margin-right: 10px;
  }